body {
  margin: 0px;
  display: flex; /* Test removing this line and ...*/
  flex-direction: column; /* ...this line */
}

a {
  text-decoration: none;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 20px;
  margin-left: 71px;
}

.menu-options {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-right: 40px;
  /* margin-top: 20px; */
  align-items: center;
}

.menu-options-links {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  list-style: none;
  font-size: 25px;
}

.menu-options-cv p {
  margin: 0px;
  background-color: #F04505;
  padding: 15px 15px;
  color: white;
  border-radius: 5px;
  font-size: 25px;

}

/* Footer */
.footer-box {
  padding: 20px 71px;
  display: flex;
  justify-content: space-between;
  background-color: #060A0EBF;
  margin-top: auto;
  align-items: center;
}

.socials {
  display: flex;
  gap: 25px;
}

.name, .rights {
  margin: 0px;
}

.name {
  font-size: 30px;
  color: #F04505;
}

.rights {
  font-size: 20px;
  color: #FFFFFF;
}

/* Hero Section */
.photo-hero-text {
  display: flex;
  margin-left: 300px;
  margin-top: 108px;
  margin-bottom: 167px;
  align-items: center;
  
}

.photo {
  border: #F04505 solid 9px; 
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  /* height: 519px;
  width: 517.26px; */
  
}

.photo:before {
  content: " ";
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 9px solid white;
  border-radius: 50%;
}

.hero-text-button {
  margin-left: 90px;
  justify-content: space-between;
}

.hero-quote {
  font-size: 25px;
}

.line1, .line2 {
  font-size: 90px;
  margin: 0px;
}

.portfolio-button {
  display:flex;
}

.portfolio-button p {
  margin-left: auto;
  background-color: #F04505;
  color: #FFFFFF;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 25px;

}

/* Bio */
.bio-title {
  margin-top: 72px;
  font-size: 50px;
}

/* Projects */
.project-tiles {
  display: flex;
  justify-content: center;
}

.projects-title {
  display: flex;
  font-size: 50px;
  justify-content: center;
  gap: 10px;
}

.title-highlight {
  color: #F04505;
}

.image-box {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 60px; */
}

.image-box img {
  object-fit: cover;
  width: 400px;
  height: 400px;
  margin: 50px;
  /* overflow: hidden; */
}

.reddit, .quizzical, .todo, .ecommerce {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url('../public/images/reddit-clone-screenshot.png'); */
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
  margin: 50px;
} 

.reddit {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../public/images/reddit-clone-screenshot.png');
}

.quizzical {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../public/images/quizzical-screenshot.png');
}

.todo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../public/images/todo-screenshot.png');
}

.ecommerce {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('');
  
}

.projects div a {
  color: white;
  font-size: 30px;
  /* text-align: center; */
  position: relative;
  bottom: -300px; 
  left: 30%;
  text-decoration: none;
}
/* 
.projects div a:link {

} */

.projects div a:hover {
  color: #F04505;
}

