/* @import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap); */

body {
  margin: 0px;
  display: flex; /* Test removing this line and ...*/
  flex-direction: column; /* ...this line */
  font-family: Inter;
} 

h2 {
  font-size: 50px;
}

p {
  font-size: 25px;
}

a {
  text-decoration: none;
}

span {
  color:#F04505;
}

/* Header */
ul li {
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 20px;
  margin-left: 71px;
}

.menu-options {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-right: 40px;
  /* margin-top: 20px; */
  align-items: center;
}

.menu-options-links {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  list-style: none;
  font-size: 25px;
}

.menu-options-cv p {
  margin: 0px;
  background-color: #F04505;
  padding: 15px 15px;
  color: white;
  border-radius: 5px;
  font-size: 25px;

}

/* Footer */
.footer-box {
  padding: 20px 71px;
  display: flex;
  justify-content: space-between;
  background-color: #060A0EBF;
  margin-top: auto;
  align-items: center;
}

.socials {
  display: flex;
  gap: 25px;
}

.name, .rights {
  margin: 0px;
}

.name {
  font-size: 30px;
  color: #F04505;
}

.rights {
  font-size: 20px;
  color: #FFFFFF;
}

/* Hero Section */
.photo-hero-text {
  display: flex;
  margin-left: 300px;
  margin-top: 108px;
  margin-bottom: 167px;
  align-items: center;
  
}

.photo {
  border: #F04505 solid 9px; 
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  /* height: 519px;
  width: 517.26px; */
  
}

.photo:before {
  content: " ";
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 9px solid white;
  border-radius: 50%;
}

.hero-text-button {
  margin-left: 90px;
  justify-content: space-between;
}

.hero-quote {
  font-size: 25px;
}

.line1, .line2 {
  font-size: 90px;
  margin: 0px;
}

.portfolio-button {
  display:flex;
}

.portfolio-button p {
  margin-left: auto;
  background-color: #F04505;
  color: #FFFFFF;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 25px;

}

/* Bio */
.bio {
  background-color: #f0ecec;
  padding-top: 72px;
  padding-bottom: 112px;
}

.bio-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 50px;
}

.subtitle {
  color:#F04505
}

.video-box-container {
  display: flex;
  justify-content: center;
}

.video-box {
  border: #F04505 solid 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1027px;
  height: 623px;
}

.columns {
  margin-top: 98px;
  width: 100%;
  /*height: 200px;*/
  display: flex;
  font-size: 25px;
  justify-content: center;
}
 
.alignment-box {
  display: flex;
  width: 55%;
  gap: 95px;
}

.leftCol {
  flex: 0 0 50%;
  /* background-color: lightgreen; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightCol {
  flex: 0 0 50%;
  /* background-color: lightgray; */
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Projects */
.projects {
  padding-bottom: 32px;
}

.project-tiles {
  display: flex;
  justify-content: center;
}

.projects-title {
  display: flex;
  font-size: 50px;
  justify-content: center;
  gap: 10px;
  margin: 50px;
}

.title-highlight {
  color: #F04505;
  font-style: italic;
}

.image-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 60px; */
}

.image-box .dot {
  z-index: -1;
  height: 10%;
  position: absolute;
  left: 970px;
  top: 490px;
}

.image-box .dot-two {
  z-index: -1;
  height: 10%;
  position: absolute;
  left: 270px;
  top: 1195px;
}

.image-box .dot-three {
  z-index: -2;
  height: 10%;
  position: absolute;
  left: 1455px;
  top: 670px;
}

.reddit, .quizzical, .todo, .ecommerce {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url('../public/images/reddit-clone-screenshot.png'); */
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 600px;
  margin: 0px 50px 100px;
} 

.reddit {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../public/images/reddit-clone-screenshot.png');
}

.quizzical {

  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../public/images/quizzical-screenshot.png');
}

.todo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../public/images/todo-screenshot.png');
}

.ecommerce {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../public/images/ecommerce-screenshot.png');
   
}

.projects div {
  text-align: center;
}

.projects div a {
  color: white;
  font-size: 30px;
  /* text-align: center; */
  position: relative;
  bottom: -400px; 
  left: 0%;
  text-decoration: none;
}

.projects div a:hover {
  color: #F04505;
}

/* Contacts */

.contact-container {
  display: flex;
  width: 100%;
}

.contact-form-and-title .map {
  width: 50%;
}

.contact-form-and-title {
  padding: 0px 71px;
}

input[type="text"], input[type="email"] {
  margin-bottom: 15px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

select {
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 5px;
}

textarea {
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
  
}
/* Mobile Styles Below */

/* Mobile Header */
.mobile-header {
  background-color: #44474A;
  height: 83px;
  width: 100%;
  display: flex;
  justify-content: space-between;
} 

.mobile-logo {
  margin-left: 21px;
}

.mobile-menu {
  margin-right: 6px;
}

/* Side Menu */
.slide-menu {
  position: fixed;
  color: white;
  background: #F04505;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  z-index: 50;
  box-shadow: 10px 0px 5px grey;
}


/* Mobile Hero */

.mobile-photo-hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 38px;
  margin-bottom: 55.82px;
}

.mobile-photo-hero-text h2 {
  font-size: 50px;
}

.mobile-photo {
  border: #F04505 solid 9px; 
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  height: 311px;
  width: 311px;
  margin-top: 47px;
}

.mobile-photo img {
  height: 311px;
  width: 340px;
}

.mobile-photo:before {
  content: " ";
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 9px solid white;
  border-radius: 50%;
}

.mobile-hero-quote {
  font-size: 20px;
}

.mobile-line1, .mobile-line2 {
  font-size: 90px;
  margin: 0px;
}

.mobile-line1 {
  margin-top: 21px;
}

.mobile-portfolio-button p {
  /* margin-left: auto; */
  background-color: #F04505;
  color: #FFFFFF;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 25px;
  margin: 0px 0px;
  text-align: center;
  max-width: 314px;
}

/* Mobile Bio */

.mobile-bio {
  background-color: #f0ecec;
  padding-top: 31px;
  padding-bottom: 90px;
}

.mobile-bio-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 40px;
}

.mobile-video-box-container {
  display: flex;
  justify-content: center;
}

.mobile-video-box {
  border: #F04505 solid 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 390px;
  height: 237px;
}
 
.mobile-alignment-box {
  padding: 0px 38px;
}

 .mobile-p1, .mobile-p2{
  font-size: 20px;
}

.mobile-p1 {
  margin-bottom: 0px;
}

/* Mobile Projects */

.mobile-projects {
  padding-bottom: 32px;
}

.mobile-project-tiles {
  display: flex;
  justify-content: center;
}

.mobile-projects-title {
  /* display: flex; */
  font-size: 40px;
  text-align: center;
  gap: 10px;
  margin: 50px;
}

.title-highlight {
  color: #F04505;
  font-style: italic;
}

.mobile-image-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 60px; */
}

.mobile-reddit, .mobile-quizzical, .mobile-todo, .mobile-ecommerce {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url('../public/images/reddit-clone-screenshot.png'); */
  background-position: center;
  background-size: cover;
  width: 348px;
  height: 460px;
  margin-bottom: 28px;
} 

.mobile-reddit {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../public/images/reddit-clone-screenshot.png');
}

.mobile-quizzical {

  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../public/images/quizzical-screenshot.png');
}

.mobile-todo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../public/images/todo-screenshot.png');
}

.mobile-ecommerce {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../public/images/ecommerce-screenshot.png');
   
}

.mobile-projects div {
  text-align: center;
}

.mobile-projects div a {
  color: white;
  font-size: 30px;
  /* text-align: center; */
  position: relative;
  bottom: -300px; 
  left: 0%;
  text-decoration: none;
}

.mobile-projects div a:hover {
  color: #F04505;
}

/* Mobile Footer */

.mobile-footer-box {
  padding: 20px 71px;
  /* display: flex; */
  justify-content: center;
  background-color: #060A0EBF;
  margin-top: auto;
  align-items: center;
}

.mobile-socials {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.mobile-name, .mobile-rights {
  margin: 0px;
}

.mobile-name {
  font-size: 10px;
  color: #FFFFFF;
  font-weight: bold;
}

.mobile-rights {
  font-size: 10px;
  color: #FFFFFF;
}

.mobile-credit-box {
  margin-top: 7px;
  display: flex;
  justify-content: center;
  gap: 5px;
}